<link rel="stylesheet" href="/css/search.css">

<div class="container mt-4 mb-4">
    <h2>Kết quả tìm kiếm của từ khóa : {{q}}</h2>
    <div class="row">
        <div class="news-auto col-lg-8 col-md-12">
            <div class="title">
                <h5> <i class="ti-bolt"></i> Kết quả tìm kiếm</h5>
            </div>

            <div class="search-q">
                <a href="#" class="content article">
                    <img src="https://coin68.com/wp-content/uploads/2021/09/ethereum-eip-1559.png" alt="">
                    <div class="article-right">
                        <h4 class="title-article">Tròn 1 tháng triển khai EIP-1559, Ethereum hiện giờ ra sao?</h4>
                        <span class="user"><i class="ti-user"></i> Admin - <i class="ti-timer"></i> 13 Aug, 2021</span>
                        <p class="desc">Tròn 1 tháng hard fork London và bản nâng cấp EIP-1559 được triển khai thành
                            công,
                            blockchain Ethereum hiện đang phát triển như thế nào? Giá ETH đã tăng trưởng ra sao? Hãy
                            cùng
                            Coin68
                            tìm hiểu chi tiết trong bài viết dưới đây nhé!Từ trước đến nay, đồng tiền mã hoá ETH vẫn
                            luôn bị
                            đánh giá thấp cũng như chỉ trích là “lạm phát” bởi nguồn cung vô hạn. Và rồi, đến ngày
                            05/08,
                            nâng cấp EIP-1559 đã được triển khai thành công cũng như chính thức đưa vấn đề “ETH lạm
                            phát”
                            trở thành câu chuyện của quá khứ. Theo thống kê thì Ethereum đã từng “đốt tiền” với tốc độ
                            lên
                            đến 10.000 USD mỗi phút chỉ sau ngày đầu tiên thực hiện nâng cấp EIP-1559.</p>
                    </div>
                </a>

                <a href="#" class="content article">
                    <img src="https://coin68.com/wp-content/uploads/2021/07/coinex-1-350x250.jpg" alt="">
                    <div class="article-right">
                        <h4 class="title-article">Tròn 1 tháng triển khai EIP-1559, Ethereum hiện giờ ra sao?</h4>
                        <span class="user"><i class="ti-user"></i> Admin - <i class="ti-timer"></i> 13 Aug, 2021</span>
                        <p class="desc">Tròn 1 tháng hard fork London và bản nâng cấp EIP-1559 được triển khai thành
                            công,
                            blockchain Ethereum hiện đang phát triển như thế nào? Giá ETH đã tăng trưởng ra sao? Hãy
                            cùng
                            Coin68
                            tìm hiểu chi tiết trong bài viết dưới đây nhé!Từ trước đến nay, đồng tiền mã hoá ETH vẫn
                            luôn bị
                            đánh giá thấp cũng như chỉ trích là “lạm phát” bởi nguồn cung vô hạn. Và rồi, đến ngày
                            05/08,
                            nâng cấp EIP-1559 đã được triển khai thành công cũng như chính thức đưa vấn đề “ETH lạm
                            phát”
                            trở thành câu chuyện của quá khứ. Theo thống kê thì Ethereum đã từng “đốt tiền” với tốc độ
                            lên
                            đến 10.000 USD mỗi phút chỉ sau ngày đầu tiên thực hiện nâng cấp EIP-1559.</p>
                    </div>
                </a>

                <a href="#" class="content article">
                    <img src="https://coin68.com/wp-content/uploads/2021/09/infographic-tuan-qua-360x180.png" alt="">
                    <div class="article-right">
                        <h4 class="title-article">Tròn 1 tháng triển khai EIP-1559, Ethereum hiện giờ ra sao?</h4>
                        <span class="user"><i class="ti-user"></i> Admin - <i class="ti-timer"></i> 13 Aug, 2021</span>
                        <p class="desc">Tròn 1 tháng hard fork London và bản nâng cấp EIP-1559 được triển khai thành
                            công,
                            blockchain Ethereum hiện đang phát triển như thế nào? Giá ETH đã tăng trưởng ra sao? Hãy
                            cùng
                            Coin68
                            tìm hiểu chi tiết trong bài viết dưới đây nhé!Từ trước đến nay, đồng tiền mã hoá ETH vẫn
                            luôn bị
                            đánh giá thấp cũng như chỉ trích là “lạm phát” bởi nguồn cung vô hạn. Và rồi, đến ngày
                            05/08,
                            nâng cấp EIP-1559 đã được triển khai thành công cũng như chính thức đưa vấn đề “ETH lạm
                            phát”
                            trở thành câu chuyện của quá khứ. Theo thống kê thì Ethereum đã từng “đốt tiền” với tốc độ
                            lên
                            đến 10.000 USD mỗi phút chỉ sau ngày đầu tiên thực hiện nâng cấp EIP-1559.</p>
                    </div>
                </a>

                <a href="#" class="content article">
                    <img src="https://coin68.com/wp-content/uploads/2021/09/ethereum-eip-1559.png" alt="">
                    <div class="article-right">
                        <h4 class="title-article">Tròn 1 tháng triển khai EIP-1559, Ethereum hiện giờ ra sao?</h4>
                        <span class="user"><i class="ti-user"></i> Admin - <i class="ti-timer"></i> 13 Aug, 2021</span>
                        <p class="desc">Tròn 1 tháng hard fork London và bản nâng cấp EIP-1559 được triển khai thành
                            công,
                            blockchain Ethereum hiện đang phát triển như thế nào? Giá ETH đã tăng trưởng ra sao? Hãy
                            cùng
                            Coin68
                            tìm hiểu chi tiết trong bài viết dưới đây nhé!Từ trước đến nay, đồng tiền mã hoá ETH vẫn
                            luôn bị
                            đánh giá thấp cũng như chỉ trích là “lạm phát” bởi nguồn cung vô hạn. Và rồi, đến ngày
                            05/08,
                            nâng cấp EIP-1559 đã được triển khai thành công cũng như chính thức đưa vấn đề “ETH lạm
                            phát”
                            trở thành câu chuyện của quá khứ. Theo thống kê thì Ethereum đã từng “đốt tiền” với tốc độ
                            lên
                            đến 10.000 USD mỗi phút chỉ sau ngày đầu tiên thực hiện nâng cấp EIP-1559.</p>
                    </div>
                </a>

                <a href="#" class="content article">
                    <img src="https://coin68.com/wp-content/uploads/2021/09/ethereum-eip-1559.png" alt="">
                    <div class="article-right">
                        <h4 class="title-article">Tròn 1 tháng triển khai EIP-1559, Ethereum hiện giờ ra sao?</h4>
                        <span class="user"><i class="ti-user"></i> Admin - <i class="ti-timer"></i> 13 Aug, 2021</span>
                        <p class="desc">Tròn 1 tháng hard fork London và bản nâng cấp EIP-1559 được triển khai thành
                            công,
                            blockchain Ethereum hiện đang phát triển như thế nào? Giá ETH đã tăng trưởng ra sao? Hãy
                            cùng
                            Coin68
                            tìm hiểu chi tiết trong bài viết dưới đây nhé!Từ trước đến nay, đồng tiền mã hoá ETH vẫn
                            luôn bị
                            đánh giá thấp cũng như chỉ trích là “lạm phát” bởi nguồn cung vô hạn. Và rồi, đến ngày
                            05/08,
                            nâng cấp EIP-1559 đã được triển khai thành công cũng như chính thức đưa vấn đề “ETH lạm
                            phát”
                            trở thành câu chuyện của quá khứ. Theo thống kê thì Ethereum đã từng “đốt tiền” với tốc độ
                            lên
                            đến 10.000 USD mỗi phút chỉ sau ngày đầu tiên thực hiện nâng cấp EIP-1559.</p>
                    </div>
                </a>
            </div>
        </div>


        <div class="news-auto treding col-lg-4 col-md-12">
            <div class="title">
                <h5> <i class="ti-bolt"></i> Bài viết hot</h5>
            </div>
            <div class="owl-carousel owl-theme">
                <div class="item">
                    <a href="#"><img
                            src="https://coin68.com/wp-content/uploads/2021/08/huong-dan-danh-pvp-axie-infinity-toi-uu-360x180.png"
                            alt=""></a>
                    <a href="#">
                        <h6>Hướng dẫn đánh PvP Axie Infinity tăng cơ hội thắng</h6>
                    </a>
                </div>
                <div class="item">
                    <a href="#"><img src="https://coin68.com/wp-content/uploads/2021/09/Fiahub-vs.-Remitano-350x250.png"
                            alt=""></a>
                    <a href="#">
                        <h6>Hướng dẫn đánh PvP Axie Infinity tăng cơ hội thắng</h6>
                    </a>
                </div>
                <div class="item">
                    <a href="#"><img src="https://coin68.com/wp-content/uploads/2021/09/binance-uk-ban-750x536.jpg"
                            alt=""></a>
                    <a href="#">
                        <h6>Nam Phi cảnh báo Binance sẽ không được phép hoạt động tại quốc gia này</h6>
                    </a>
                </div>
                <div class="item">
                    <a href="#"><img
                            src="https://coin68.com/wp-content/uploads/2021/09/AdobeStock_113406376_900x506-350x250.jpg"
                            alt=""></a>
                    <a href="#">
                        <h6>Cơ chế vận hành của các sản phẩm farming đòn bẩy</h6>
                    </a>
                </div>
                <div class="item">
                    <a href="#"><img src="https://coin68.com/wp-content/uploads/2021/09/DeRace-x-DAO-Maker-1140x815.png"
                            alt=""></a>
                    <a href="#">
                        <h6>DAO Maker bị hack lấy token DeRace, giá DERC giảm mạnh</h6>
                    </a>
                </div>
                <div class="item">
                    <a href="#"><img
                            src="https://coin68.com/wp-content/uploads/2021/08/huong-dan-danh-pvp-axie-infinity-toi-uu-360x180.png"
                            alt=""></a>
                    <a href="#">
                        <h6>Hướng dẫn đánh PvP Axie Infinity tăng cơ hội thắng</h6>
                    </a>
                </div>
                <div class="item">
                    <a href="#"><img
                            src="https://coin68.com/wp-content/uploads/2021/08/huong-dan-danh-pvp-axie-infinity-toi-uu-360x180.png"
                            alt=""></a>
                    <a href="#">
                        <h6>Hướng dẫn đánh PvP Axie Infinity tăng cơ hội thắng</h6>
                    </a>
                </div>
                <div class="item">
                    <a href="#"><img
                            src="https://coin68.com/wp-content/uploads/2021/08/huong-dan-danh-pvp-axie-infinity-toi-uu-360x180.png"
                            alt=""></a>
                    <a href="#">
                        <h6>Hướng dẫn đánh PvP Axie Infinity tăng cơ hội thắng</h6>
                    </a>
                </div>

            </div>

            <div class="search-ads">
                <img src="https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX33861148.jpg" alt="">
            </div>

        </div>

    </div>
</div>

<script>
    $('.owl-carousel').owlCarousel({
        loop: true,
        margin: 10,
        responsiveClass: true,
        responsive: {
            0: {
                items: 1,
                nav: false,
                autoplay: true,
                autoplayTimeout: 1800,
                autoplayHoverPause: true,
            },
            600: {
                items: 1,
                nav: false,
                autoplay: true,
                autoplayTimeout: 1800,
                autoplayHoverPause: true
            },
            1000: {
                items: 1,
                nav: false,
                loop: false,
                autoplay: true,
                autoplayTimeout: 1800,
                autoplayHoverPause: true
            }
        }
    })
</script>